@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px solid transparent;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-container {
    flex: 1; /* To push footer to bottom */
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc-container {
    height: 500px;
    width: 320px;
    background-color:cadetblue;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calc-window {
    width: 290px;
    height: 100px;
    background-color: aqua;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 30px;
    font-family: "Orbitron";
}

button {
    padding: 20px;
    border-radius: 20px;
    border: 0px;
    margin: 2px;
    font-size: 25px;
    background-color: azure;
}

button:hover {
    background-color: rgb(216, 228, 228);
    transition: 0.5s;
}

.clear-btn {
    background-color: rgb(247, 87, 87);
    color: azure;
}

.del-btn {
    background-color: aquamarine;
}

.equ-btn {
    background-color: aqua;
}

.equ-btn:hover {
    background-color: rgb(11, 213, 213);
    transition: 0.5s;
}

.del-btn:hover {
    background-color: rgb(105, 208, 174);
    transition: 0.5s;
}

.clear-btn:hover {
    background-color: rgb(203, 74, 74);
    transition: 0.5s;
}

.calc-btns {
    display: flex;
}

.calc-num-btns {
    display: flex;
    flex-wrap: wrap;
}

.calc-top-btns {
    display: flex;
    flex-wrap: wrap;
}

.calc-sum-btns {
    display: flex;
    flex-wrap: wrap;
}

.calc-top-btns button {
    flex: 1;
}

.calc-num-btns button {
    flex: 1;
}

.calc-sum-btns button {
    flex: 1;
}

footer {
    background-color: #333;
    color: azure;
    padding: 20px;
    text-align: center;
}