:root {
    --white-clr: 0, 0%, 100%;
    --green-clr: 115, 100%, 50%;
    --dark-clr: 0, 0%, 19%;
    
    --font-btns: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-output: "Orbitron", sans-serif;

    --transition-fast: 0.3s;
    --transition-slow: 0.6s;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 18px;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #8080ff, #ff80ff);
}

.calculator-container {
    display: grid;
    grid-template: 120px repeat(5, 80px) / repeat(4, 80px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.calculator-container > .calculator-display {
    grid-column: 1/-1;
}

.calculator-display {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 20px 10px;
    background-color: hsl(var(--dark-clr));
    color: hsl(var(--green-clr));
    font-family: var(--font-output);
    letter-spacing: 0.15em;
}

.current-display {
    font-size: 2rem;
}

.previous-display {
    font-size: 1.3rem;
    color: hsl(var(--green-clr), .75);
}

.calculator-container > .all-clear,
.calculator-container > .equals {
    grid-column: span 2;
}

button {
    background-color: hsl(var(--dark-clr), .75);
    border: 1px solid hsl(var(--dark-clr));
    color: hsl(var(--white-clr));
    font-size: 1.3rem;
    transition: var(--transition-slow);
    font-family: var(--font-btns);
    cursor: pointer;

}

button:hover {
    background-color: hsl(var(--dark-clr), .90);
    transition: var(--transition-fast);
}